language: scala
scala:
- 2.11.8
jdk:
- oraclejdk8
script:
- sbt ++$TRAVIS_SCALA_VERSION compile clean coverage test coverageReport codacyCoverage
- find $HOME/.sbt -name "*.lock" | xargs rm
- find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm
matrix:
  fast_finish: true
notifications:
  email: false
  webhooks: 
sudo: false
cache:
  directories:
  - "$HOME/.ivy2/cache"
  - "$HOME/.sbt/boot/"
env:
  global:
    secure: gfOGhFS5WvoeWENtZCeKtQRLlWbVGdee6SeKTVJ8E/lXCUmr36w0KgDIwoqN+6nN0oFGUPHkxTfwkOJEcu/ALfDTKRJkpgHr1GsmQmn1OLekQmFxEVrSq0BTXk8ZGpZCbUQ7MmClFzLokwC1ZXw3DCjOmBeY38sAuxngVwmK3zhJLjodr8WMfmU+6uXvS5Jet15XImSMArxx+yYnDc8VMvlg1yoDG3PSf4mpZRUScDYozGVrROYtAmyP4wj3ydsULw9oT6MrIORR1TOYQ9ImSz4wf8/9p6blT+56VzngzPN7uNK7vU0PavYGQpFAozfNd8eh50BZE0SVqjSJ30Eo1OXNhiNVhKn0zhhFNOcA2m/Jy+puE9Lfg+6MijsjI5SVk4ZXtM/nsOHoRUNaXDnz7cgs29aIhA/GwEcbWn8caQYRht/Wc/kUaGp3lIwpRr7ImCnJL4zYT/b02iQibyDm1HUSTUEu8e/alITSW+98RXrtlGLjPOXV2suJ5S8gIeGOYd+waEipu5kgasOuBDDjGdJApoF4M3s29kENnB5wZx6Ix2geZxR9H+fkQyfYtx+yQoILZwYgpiFCvW2ZkCEse5B5N9qPmau5vw16qF2ot8T8poXH6PT7a6zSSZrNmqpXwm+SEQ31/ttNOiiyHVPsWX9qlvV4OZNTg1qkx47WFRM=
